:root {
    --primary-text-color: #212121;
    --accent-text-color: #2196F3;
    --second-text-color: #757575;
    --primary-background-color: #FFFFFF;
    --accent-background-color: #2196F3;
    --button-primary-background: #F5F4FA;
    --footer-background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color)
}

.container {
width: 1200px;
margin: 0 auto;
padding: 0 15px;

/* outline: 2px solid salmon; */
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Header */
.header {
    border-bottom: 1px solid #ECECEC;
}
.cont-header {
    display: flex;
    align-items: center;
}

/* Logo */
.logo-header, .logo-footer {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-header {
    color: #000000;
    margin-right: 93px;
}
.logo-footer {
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 20px;
}
.logo-web {
    color: var(--accent-text-color);
}

/* Menu nav + Contacts*/
.menu-nav, .contacts {
    display: flex;
}
.contacts {
    margin-left: auto;
}
.menu-nav .link, .contacts .link {
    display: inline-flex;
    padding-top: 29px;
    padding-bottom: 29px;
    
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-nav .link.current {
    color: var(--accent-text-color);
}

.menu-nav .link:hover, .menu-nav .link:focus, .contacts .link:hover, .contacts .link:focus, .contacts-item:hover, .contacts-item:focus{
    color: var(--accent-text-color);
}
.contacts .link {
    color: var(--second-text-color);
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}
.nav-item {
    align-items: center;
}

.contacts-item {
    margin: auto 10px auto 0;
    fill: currentColor;
}

/* Section */
.section {
    padding: 94px 0;
}

/* Herro */
.section.herro {
background-color: var(--footer-background-color);
background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)
),
url('../images/hero.jpg');
margin: 0 auto;
background-position: center;
height: 600px;
max-width: 1600px;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
}
.herro-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

/* Feature */
.feature {
    display: flex;
    justify-content: space-between;    
}

.feature .item {
    width: 270px;
}
.feature-logo {
    margin-bottom: 30px;
    display: inline-flex;
    width: 270px;
    height: 120px;
    background-color: var(--button-primary-background);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}


.feature .item:not(:last-child) {
    margin-right: 30px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-text {
    min-height: 75px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* Our-work */
.section-our-work {
    padding-top: 0;
}
.our-work .img {
    display: block;
    max-width: 100%;
    height: auto;
}
.our-work {
    display: flex;
    justify-content: space-between;
}
.our-work > .item:not(:last-child) {
    margin-right: 30px;
}

.our-work-title, .team-title, .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/* Our-team */
.our-team {
    background-color: #F5F4FA;
    justify-content: space-between;
}
.team {
    display: flex;
}
.our-team .item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team .item:not(:last-child) {
margin-right: 30px;
}
.our-team .foto {
    display: block;
    max-width: 100%;
    height: auto;
}

.full-name, .post {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.post {
    font-weight: 400;
    color: var(--second-text-color);
    margin-bottom: 16px;
}
.team-info {
    padding: 30px 0;
}
.soc {
    display: flex;
    justify-content: center;
    
}

.soc-link a{
    display: inline-flex;    
    width: 44px;
    height: 44px;
    /* outline: 1px solid tomato; */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
}
.soc-link a:hover, .soc-link a:focus{
    background-color: var(--accent-background-color);
    fill: #FFFFFF;
}

.soc-link:not(:last-child) {
    margin-right: 10px;
}

/* Clients */
.clients {
    display: flex;
    justify-content:space-between;

}

.clients-item a {
    display: inline-flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
}
.clients-item a:hover, .clients-item a:focus{
fill: var(--accent-text-color);
border-color: var(--accent-text-color);
}

.clients-item:not(:last-child){
    margin-right: 30px;
}

/* Portfolio */
.examples {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.examples .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    /* border: 1px solid #EEEEEE; */
}
.examples .img {
    display: block;
    max-width: 100%;
    height: auto;
}
.examples .item:hover, .examples .item:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-title {
    padding: 20px 24px;
    border-top: 0;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.examples .item:nth-child(3n) {
    margin-right: 0;
}
.examples .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.work-examples {
    text-decoration: none;
    box-sizing: border-box;
   }
.work-examples-project {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.work-examples-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.examples-bgr {
    position: relative;
}

.bgr-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87%;
    max-height: 57%;
    
    
    background-color: #2196F3;
}

/* Button */
.btm-works {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btm-works > .item:not(:last-child) {
margin-right: 8px;
}

.button-filter {
    color: var(--primary-text-color);
    background-color: var(--button-primary-background);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    
    padding: 6px 22px;
    border-radius: 4px;
    display: inline-block;
    
    height: 38px;
    border: 1px solid transparent;
       
}
.button-filter:hover, .button-filter:focus {
    color: #FFFFFF;
    background-color: var(--accent-background-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-order {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-background-color);
    cursor: pointer;

    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-order:hover, .button-order:focus {
    background-color: #188CE8;
}

/* Footer */
.footer {
    background-color: var(--footer-background-color);
    padding: 60px 0;
}
.address {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-address, .footer-contacts {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
}
.address .item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover, .footer-contacts:focus {
    color: var(--accent-text-color);
}

.footer-logo-adress {
    display: inline-block;
    margin-right: 70px;
}
.footer-soc {
    display: inline-block;
    position: absolute;
    
}
.footer-soc-title {
    color: var(--primary-background-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin: 12px 0 20px 0;
}
.footer-soc .soc a {
    fill: white;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-soc .soc a:hover, .footer-soc .soc a:focus {
    background-color:var(--accent-text-color);
}
